<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="NONE,NOARCHIVE" />
    <title>Stations</title>
    <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/bootstrap-tweaks.css"/>
    <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/prettify.css"/>
    <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/default.css"/>
</head>
<body>
  <div class="wrapper">

        <div class="navbar navbar-static-top navbar-inverse"
             role="navigation" aria-label="navbar">
          <div class="container">
            <span>
                <a class='navbar-brand' rel="nofollow" href='https://www.django-rest-framework.org/'>
                    Django REST framework
                </a>
            </span>
            <ul class="nav navbar-nav pull-right">
                  <li><a href='/api-auth/login/?next=/stations/'>Log in</a></li>
            </ul>
          </div>
        </div>

      <div class="container">
          <ul class="breadcrumb">
                <li><a href="/">Meteo Station Main</a></li>
                <li class="active"><a href="/stations/">Meteo Station List</a></li>
          </ul>
        <!-- Content -->
        <div id="content" role="main" aria-label="content">
            <h3>Meteo stations</h3>
        </div><!-- /.content -->
      </div><!-- /.container -->
    </div><!-- ./wrapper -->

</body>
</html>
